Django>=5.2,<6.0
djangorestframework>=3.17
djangorestframework-simplejwt>=5.5
django-cors-headers>=4.9
django-rq>=2.8
django-axes>=7.0
django-allauth>=65.16
psycopg2-binary>=2.9
Pillow>=11.2
numpy>=2.2
pandas>=2.2
scipy>=1.15
scikit-learn>=1.6
imbalanced-learn>=0.13
joblib>=1.5
requests>=2.32
redis>=7.0
rq>=1.16
langdetect>=1.0
presidio-analyzer>=2.2
presidio-anonymizer>=2.2
torch>=2.7
torchvision>=0.22
medmnist>=3.0
scikit-image>=0.25

azure-ai-inference>=1.0.0b9
faiss-cpu>=1.13

channels>=4.1
channels-redis>=4.2
daphne>=4.1
